@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    /* palette*/
    --bg-dark: oklch(0.1 0.01 146);
    --bg: oklch(0.15 0.01 146);
    --bg-light: oklch(0.2 0.01 146);
    --text: oklch(0.96 0.02 146);
    --text-muted: oklch(0.76 0.02 146);
    --highlight: oklch(0.5 0.02 146);
    --border: oklch(0.4 0.02 146);
    --border-muted: oklch(0.3 0.02 146);
    --primary: oklch(0.76 0.1 146);
    --secondary: oklch(0.76 0.1 326);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);

    /* gradient */
    --gradient: linear-gradient(0deg, var(--bg) 97%, var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));


    /* type */
    --ff: 'Marcellus' ,'Plus Jakarta Sans', sans-serif;
}

@media (prefers-color-scheme: light){
    :root{
        /* palette */
        --bg-dark: oklch(0.92 0.01 146);
        --bg: oklch(0.96 0.01 146);
        --bg-light: oklch(1 0.01 146);
        --text: oklch(0.15 0.02 146);
        --text-muted: oklch(0.4 0.02 146);
        --highlight: oklch(1 0.02 146);
        --border: oklch(0.6 0.02 146);
        --border-muted: oklch(0.7 0.02 146);
        --primary: oklch(0.4 0.1 146);
        --secondary: oklch(0.4 0.1 326);
        --danger: oklch(0.5 0.05 30);
        --warning: oklch(0.5 0.05 100);
        --success: oklch(0.5 0.05 160);
        --info: oklch(0.5 0.05 260);
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--ff);
}

/* global */
h1{
    font: 800 clamp(2.5rem, 5vw + .5rem, 4rem) var(--ff);
}

h2{
    font: 600 clamp(2rem, 5vw + .5rem, 3rem) var(--ff);
    line-height: 1.2;
}

h3{
    font: 500 clamp(1.6rem, 4vw + .5rem, 2.6rem) var(--ff);
}

p{
    font: 500 clamp(1rem, 1vw + .5rem, 2rem) var(--ff);
}

body{
    padding: 0;
    margin: 0;

    background-color: var(--bg-dark);
    color: var(--text);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* nav */
nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: color-mix(in oklch, var(--bg) 90%, transparent);
    backdrop-filter: blur(6px);
    padding: 1rem;
    border-bottom: 1px solid var(--border);
}

.logo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    text-decoration: none;
    color: var(--text);
    transition: .1s ease;
}

.logo:hover{
    color: var(--primary);
}

.logo-img{
    width: 3rem;
    height: auto;
    fill: var(--text);
    transition: .1s ease;
}

.logo:hover .logo-img{
    fill: var(--primary);
}

.logo-text{
    font: 500 clamp(1.2rem, 4vw + .5rem, 2rem) var(--ff);
}

.nav-links{
    list-style: none;
    display: flex;
    gap: .5rem;
}

.nav-links li a{
    font: 500 clamp(1.6rem, 4vw + .5rem, 2rem) var(--ff);
    text-decoration: none;
    color: var(--text);
    transition: .1s ease;
}

.nav-links li a:hover{
    color: var(--primary);
}

#navLinks{
    display: none;
}

.menu-icon{
    cursor: pointer;
    fill: var(--primary);
    display: none;
}

/* mobile */
@media (max-width: 800px){
    #navLinks{
        position: absolute;
        top: 100%;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        padding: .5rem;
        background-color: color-mix(in oklch, var(--bg) 90%, transparent);
        backdrop-filter: blur(6px);
        border-bottom: 1px solid var(--border);

        display: none;
        opacity: 0;
        transform: translateY(-10px);
        
        transition: 
            opacity 0.1s ease, 
            transform 0.1s ease, 
            display 0.1s ease allow-discrete;
    }

    #navLinks.active{
        display: flex;
        opacity: 1;
        transform: translateY(0);

        @starting-style {
            opacity: 0;
            transform: translateY(-10px);
        }
    }

    #closeIcon{
        display: none;
    }

    #openIcon.active{
        display: none;
    }

    #closeIcon.active{
        display: block;
    }

    .navbar{
        border-bottom: 0;
    }

    .menu-icon{
        display: block;
    }

    .navbar .nav-links{
        display: none;
    }
}

/* hero */
.hero{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    
    width: min(1200px, 100%);
    padding: 1rem;
}

.hero-image{
    width: 100%;

    object-fit: cover;
    object-position: bottom;
    border-radius: .5rem;
    aspect-ratio: 1 / 1;
}

.hero-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;

    gap: clamp(.1rem, .3vw + .5rem, 1.8rem);
}

.hero-title{
    color: var(--text);
    position: relative;
    display: inline-block;
}

.hero-title::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4px;
    width: 102%;
    height: .2rem;
    background-color: var(--primary);
    border-radius: .5rem;
    margin: 0 ;
}

.hero-subtitle{
    color: var(--text-muted);
}

/* main */
main{
    width: min(1200px, 100%);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title{
    color: var(--primary);
    align-self: flex-start;
    text-align: start;
    padding: 0 1rem;
    margin-top: 2rem;;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 1rem;
    gap: 1rem;
    border: solid 1px var(--border-muted);
    border-bottom: solid 1px var(--border);
    border-radius: .5rem;
    margin: .5rem;
}

.card-image{
    width: clamp(250px, 80%, 400px);

    object-fit: cover;
    object-position: bottom;
    border-radius: .5rem;
    aspect-ratio: 1 / 1;
}

.card-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;

    gap: clamp(.1rem, .3vw + .02rem, 1.5rem);
}

.card-title{
}

.card-subtitle{
    color: var(--text-muted);
}